.topbar {
  width: 100%;
  height: 50px;
  background-color: #ffffff;
  position: sticky;
  top: 0;
  z-index: 999;
}

.topbar__wrapper {
  height: 100%;
  padding: 0px 2px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.topbar__left {
  padding-left: 15px;
}

.vorgez-logo {
  cursor: pointer;
}

.topbar__right {
    display: flex;
    padding-right: 15px;
}

.icons__container {
  position: relative;
  border-radius: 50%;
  border: 1px solid #ecebf5;
  height: 25px;
  width: 25px;
  align-items: center;
  /* display: flex; */
  cursor: pointer;
  margin-right: 10px;
}

.notify {
    right: -15px;
}

.badge {
    width: 10px;
    height: 10px;
    position: absolute;
    top: -5px;
    right: 5px;
    background-color: #ff0000;
    color: #ffffff;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 6px;
}

.topbar__avatar {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    cursor: pointer;
}

