.guestList {
  flex: 4;
  padding: 5px;
  background: #fff;
  /* overflow-y: hidden; */
}

.guestListDataTable {
    padding: 50px 10px 10px;
}

.guestListDataShow {
    display: flex;
}
.one {
    display: inline-block;
    margin-bottom: 10px;
}

.one select, .one p {
    display: inline;
    vertical-align: top;
    line-height: 20px;
    margin-left: 10px;
    margin-right: 10px;

}

.custom-select {
    width: 60px;
}

.guestListUser {
    display: flex;
    align-items: center;
}

.guestListImg {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

.guestListEdit{
    /* border: none;
    border-radius: 10px;
    padding: 5px 10px;
    background-color: #3bb077; */
    color: #979798;
    cursor: pointer;
    margin-right: 20px;
}

.guestListDelete{
    color: #979798;
    cursor: pointer;
}

.MuiDataGrid-root {
    flex: 1;
    color: rgba(0, 0, 0, 0.87);
    border: 1px solid rgba(224, 224, 224, 1);
    height: 90%;
    display: flex;
    outline: none;
    position: relative;
    font-size: 0.875rem;
    box-sizing: border-box;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.43;
    border-radius: 4px;
    flex-direction: column;
    letter-spacing: 0.01071em;
}